h1 {color: rgb(0, 163, 8);}
h1 {font-size: 700%;}
h1 {text-align: center;}
#imagem1 {width: 30%;}
#imagem2 {width: 20%;}
#imagem1 {margin-left: 35%;}
h2 {font-size: 500%;}
h2 {color: rgb(8, 231, 38);}
h3 {font-size: 500%;}
h3 {color: rgb(28, 231, 9);}
#imagem4 {width: 30%;}
h4 {font-size: 500%;}
h4 {color: rgb(58, 253, 52);}
#imagem3 {width: 25%;}
#imagem2 {margin-left: 20%;}
#imagem3 {margin-left: 20%;}
#imagem4 {margin-left: 20%;}

